<div class="center hero-unit">
  <h1 class="text-center"><%= title = @practice.method == "stroke" ? "Stroke" : "Volley & Stroke" %></h1>
  <div id="content" class="container" style="">
  <!--tab-->
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="bootstrap.js"></script>
  <link href="bootstrap.css" rel="stylesheet" type="text/css">
  <div id="tabs"class="center">
    <% if request.smart_phone?%>
      <div class="row">
        <div class="col-xs-offset-2">
          <ul class="nav nav-tabs nav-justified">
            <li class="active" style="float:left;"><a href="#rounds" data-toggle="tab"><%= image_tag 'glyphicons-174-play.png'%></a></li>
            <li style="float:left;"><a href="#members" data-toggle="tab"><%= image_tag 'glyphicons-25-parents.png'%></a></li>
            <% if @practice.active %>
              <li style="float:left;"><a href="#addplayers" data-toggle="tab"><%= image_tag 'glyphicons-7-user-add.png'%></a></li>
              <li style="float:left;"><a href="#settings" data-toggle="tab"><%= image_tag 'glyphicons-137-cogwheel.png' %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% else %>
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#rounds" data-toggle="tab"><%= image_tag 'glyphicons-174-play.png'%>Rounds</a></li>
        <li><a href="#members" data-toggle="tab"><%= image_tag 'glyphicons-25-parents.png'%>Players</a></li>
        <% if @practice.active %>
          <li><a href="#addplayers" data-toggle="tab"><%= image_tag 'glyphicons-7-user-add.png'%>AddPlayers</a></li>
          <li><a href="#settings" data-toggle="tab"><%= image_tag 'glyphicons-137-cogwheel.png' %>Settings</a></li>
        <% end %>
      </ul>
    <%end%>
  </div>
  <!--tab-->
    <div id="myTabContent" class="tab-content" style="padding-top:30px;">
      <div class="tab-pane fade <%= "in active" if @tab == "rounds"|| @tab.blank?%>" id="rounds">
        <div class="row">
          <% if @practice.active%>
            <div class="col-xs-offset-3">
              <%if @practice.method == "stroke"%>
                <%= link_to "Next!", new_round_path(practice_id: @practice.id,
                                                          man_rane: @practice.man_rane,
                                                          mix_rane: @practice.mix_rane),
                                                          class: "btn btn-primary" %>
              <%else%>
                <%= link_to "Next!", {controller: "vs_rounds", action: "new",
                                                          practice_id: @practice.id,
                                                          man_rane: @practice.man_rane,
                                                          mix_rane: @practice.mix_rane},
                                                          {:class => "btn btn-primary" }%>
              <%end%>

            <% if !@practice.rounds.blank?%>
            <%= link_to "Back", {controller: "players", action: "rollback", practice_id: @practice.id},
                                                      {:class => "btn btn-default" }%>
            <% end %>
          </div>


          <%end%>

          <% if !@practice.rounds.blank?%>
          <table class ="table table-striped">
            <thead>
              <tr>
                <th>Round</th>
                <% @ranes.times do |n| %>
                  <th><%=(n+1)%></th>
                  <%if @practice.method == "stroke"%>
                    <th></th>
                  <%else%>
                    <th><small>Volley</small></th>
                  <%end%>
                <%end%>
              </tr>
            </thead>

            <tbody>
                <% @rounds.reverse_each do |round| %>
                <% ranes = round.mix_rane + round.man_rane %>
                <% now_players = round.now_players.split(" ")%>
                <tr>
                  <td><%= "#{round.order.ordinalize}"%></td>
                    <% (ranes * 2).times do |n| %>
                     <% player = Player.find(now_players[n].to_i)%>
                      <% if player.com %>
                        <td>anyone</td>
                      <%else%>
                        <td><%=player.name%></td>
                      <%end%>
                    <%end%>
                </tr>
                <% end %>
            </tbody>
          </table>
          <%end%>
        </div>
      </div>
      <div class="tab-pane fade <%= "in active" if @tab == "members"%>" id="members" style = "">
        <% if @practice.method == "stroke"%>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Men</h3>
            </div>
            <div class="panel-body">

        <% if !@circle.group.blank?%>
          <div calss="center form-inline" role="form">
            <%= form_tag(@practice, method: "get") do%>
              <div class="form-group">
                <div class="col-sm-2 col-sm-offset-4 col-xs-8">
                  <% @groups.unshift("All") %>
                  <%= select :circle,:group,@groups,{} ,class: "form-control"%>
                  <% @groups.delete("All")%>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-2 col-sm-offset-0">
                  <%= submit_tag "Seach", class: "btn btn-default"%>
                </div>
              </div>
            <% end %>
          </div>
        <%end%>

          <table class ="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Men</th>
                <th>Mix</th>
                <th>Duraion</th>
              </tr>
            </thead>

            <tbody>
              <% @players.each do |player| %>
              <% next if player.gender == "female"|| !player.active || player.com%>
                <tr>
                  <td><%= player.name %></td>
                  <td><%= player.time %></td>
                  <td><%= player.o_time %></td>
                  <td><%= player.duration %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Women</h3>
        </div>
        <div class="panel-body">
          <% if !@circle.group.blank?%>
            <div calss="center form-inline" role="form">
              <%= form_tag(@practice, method: "get") do%>
                <div class="form-group">
                  <div class="col-sm-2 col-sm-offset-4 col-xs-8">
                    <% @groups.unshift("All") %>
                    <%= select :circle,:group,@groups,{} ,class: "form-control"%>
                    <% @groups.delete("All")%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 col-sm-offset-0">
                    <%= submit_tag "Seach", class: "btn btn-default"%>
                  </div>
                </div>
              <% end %>
            </div>
          <%end%>
          <table class ="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Mix</th>
                <th>Duration</th>
              </tr>
            </thead>

            <tbody>
              <% @players.each do |player| %>
              <% next if player.gender == "male"||!player.active||player.com %>
                <tr>
                  <td><%= player.name %></td>
                  <td><%= player.time %></td>
                  <td><%= player.duration %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
        <%else%>
        <div class=row>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Men</h3>
          </div>
          <div class="panel-body">
            <% if !@circle.group.blank?%>
              <div calss="center form-inline" role="form">
                <%= form_tag(@practice, method: "get") do%>
                  <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-4 col-xs-8">
                      <% @groups.unshift("All") %>
                      <%= select :circle,:group,@groups,{} ,class: "form-control"%>
                      <% @groups.delete("All")%>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-0">
                      <%= submit_tag "Seach", class: "btn btn-default"%>
                    </div>
                  </div>
                <% end %>
              </div>
            <%end%>
          <table class ="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Volley</th>
                <th>Stroke</th>
                <th>Mix</th>
                <th>Duration</th>
              </tr>
            </thead>

            <tbody>
              <% @players.each do |player| %>
              <% next if player.gender == "female"|| !player.active || player.com%>
                <tr>
                  <td><%= player.name %></td>
                  <td><%= player.v_time %></td>
                  <td><%= player.time %></td>
                  <td><%= player.o_time %></td>
                  <td><%= player.duration %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Women</h3>
        </div>
        <div class="panel-body">
          <% if !@circle.group.blank?%>
            <div calss="center form-inline" role="form">
              <%= form_tag(@practice, method: "get") do%>
                <div class="form-group">
                  <div class="col-sm-2 col-sm-offset-4 col-xs-8">
                    <% @groups.unshift("All") %>
                    <%= select :circle,:group,@groups,{} ,class: "form-control"%>
                    <% @groups.delete("All")%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 col-sm-offset-0">
                    <%= submit_tag "Seach", class: "btn btn-default"%>
                  </div>
                </div>
              <% end %>
            </div>
          <%end%>
          <table class ="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Mix</th>
                <th>Duration</th>
              </tr>
            </thead>

            <tbody>
              <% @players.each do |player| %>
              <% next if player.gender == "male"||!player.active||player.com %>
                <tr>
                  <td><%= player.name %></td>
                  <td><%= player.time %></td>
                  <td><%= player.duration %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
        <%end%>
      </div>

      <div class="tab-pane fade <%= "in active" if @tab == "addplayers"%>" id="addplayers" style"">
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Men</h3>
            </div>
            <div class="panel-body">

        <% if !@circle.group.blank?%>
          <div calss="center form-inline" role="form">
            <%= form_tag(@circle, method: "get") do%>
              <div class="form-group">
                <div class="col-sm-2 col-sm-offset-4 col-xs-8">
                  <% @groups.unshift("All") %>
                  <%= select :circle,:group,@groups,{} ,class: "form-control"%>
                  <% @groups.delete("All")%>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-2 col-sm-offset-0">
                  <%= submit_tag "Seach", class: "btn btn-default"%>
                </div>
              </div>
            <% end %>
          </div>
        <%end%>
          <table class ="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Group</th>
                <th><%= link_to "State",controller: "players", action: "active",
                circle_id: @circle.id, practice_id: @practice.id, page: "practices", method:"allmen",tab: "addplayers" %></th>
              </tr>
            </thead>

            <tbody>
              <% @players.each do |player| %>
              <% next if player.gender == "female" ||player.com%>
              <tr>
                <td><%= player.name %></td>
                <% if !player.group.blank?%>
                  <% group = player.group%>
                  <td><%= link_to group , group: group, tab: "addplayers"%></td>
                <% else %>
                  <td>-</td>
                <%end%>

                  <%if player.active%>
                    <td><%= link_to 'active', controller: "players", action: "active",
                    circle_id: @circle.id, player_id: player.id, page: "practices",practice_id: @practice.id, tab: "addplayers"%></td>
                  <%else%>
                    <td><%= link_to '-', controller: "players", action: "active",
                    circle_id: @circle.id, player_id: player.id, page: "practices",practice_id: @practice.id, tab: "addplayers"%></td>
                  <%end%>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Women</h3>
          </div>
          <div class="panel-body">

          <% if !@circle.group.blank?%>
            <div calss="center form-inline" role="form">
              <%= form_tag(@circle, method: "get") do%>
                <div class="form-group">
                  <div class="col-sm-2 col-sm-offset-4 col-xs-8">
                    <% @groups.unshift("All") %>
                    <%= select :circle,:group,@groups,{} ,class: "form-control"%>
                    <% @groups.delete("All")%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 col-sm-offset-0">
                    <%= submit_tag "Seach", class: "btn btn-default"%>
                  </div>
                </div>
              <% end %>
            </div>
          <%end%>
          <table class ="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Group</th>
                <th><%= link_to "State",controller: "players", action: "active",
                circle_id: @circle.id, practice_id: @practice.id, page: "practices", method:"allwomen", tab:"addplayers" %></th>
              </tr>
            </thead>

            <tbody>
              <% @players.each do |player| %>
              <% next if player.gender == "male" || player.com %>
                <tr>
                  <td><%= player.name %></td>

                  <% if !player.group.blank?%>
                    <% group = player.group%>
                    <td><%= link_to group , group: group, tab: "addplayers"%></td>
                  <% else %>
                    <td>-</td>
                  <%end%>

                  <%if player.active%>
                    <td><%= link_to 'active', controller: "players", action: "active",
                    circle_id: @circle.id, player_id: player.id, page: "practices",practice_id: @practice.id, tab: "addplayers"%></td>
                  <%else%>
                    <td><%= link_to '-', controller: "players", action: "active",
                    circle_id: @circle.id, player_id: player.id, page: "practices",practice_id: @practice.id,tab: "addplayers"%></td>
                  <%end%>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

        <div class="tab-pane fade <%= "in active" if @tab == "settings"%>" id="settings">
          <div class  ="form-horizontal" role="form">
            <%= form_for @practice, :url => {:action => 'update'}  do |f| %>
              <div class="hidden_field">
                <%= f.hidden_field :circle_id,  :value => @practice.circle_id %>
              </div>

              <div class="hidden_field">
                <%= f.hidden_field :method,  :value => @practice.method %>
              </div>

              <div class="form-group">
                <div class="field">
                  <%= f.label :man_rane, "Men ranes",:class=>"col-sm-6 control-label" %>
                  <div class="col-sm-2">
                    <%= f.number_field :man_rane,:class=>"form-control" %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="field">
                  <%= f.label :mix_rane, "Mix ranes",:class=>"col-sm-6 control-label" %>
                  <div class="col-sm-2">
                    <%= f.number_field :mix_rane,:class=>"form-control" %>
                  </div>
                </div>
              </div>

              <div class="form-group submit">
                  <div class="col-xs-offset-4">
                      <%= f.submit "Confirm", :class => "btn btn-default" %>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
