<h1>New Member</h1>

<%= render partial: 'shared/error_messages', locals: {object: @player}%>

<div class  ="form-horizontal center" role="form">
  <%= form_for(@player) do |f| %>

    <%= f.hidden_field :circle_id,  :value => @circle_id %>

    <div class="form-group center">
      <%= f.label :name, "Name",:class=>"col-sm-2 col-sm-offset-3 control-label"%>
      <div class="col-sm-2">
        <%= f.text_field :name,:class=>"form-control" %>
      </div>
    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default active">
        <%= f.radio_button :gender, "male",:checked=>"checked" %>Male
      </label>
      <label class="btn btn-default">
      <%= f.radio_button :gender, "female" %>Female
      </label>
    </div>

    <div class="form-group center" style="padding: 20px;">
      <%= f.label :forbidden, "Forbidden",:class=>"col-sm-2 col-sm-offset-3  control-label"%>
      <div class="col-sm-2">
        <%= f.collection_select :forbidden, Circle.find(@circle_id||=circle_id).players.all, :id, :name,{}, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
    <%= f.submit "Create!", class: "btn btn-default btn-primary"%>
      <%= link_to 'Cancel', players_path,class: "btn btn-default"%>
    </div>
  <% end %>
</div>
