<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "round_app" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "flatly", :media => "all" %>

    <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>

  </head>
  <body>

    <div class="container" style="padding-top: 50px;">
      <%= yield %>
    </div>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Round App", root_path, class: "navbar-brand"%>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path%></li>
            <li><%= link_to "Help", controller: "static_pages", action: "help"%></li>

            <% if signed_in?%>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Account <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Members", circle_path(id: current_circle.id,tab: "members") %></li>
                  <% if !current_circle.practices.blank?  %>
                  <li><%= link_to "Practice in Progress", practice_path(id: current_circle.practices.last,tab: "rounds") %></li>
                  <% end %>
                  <li><%= link_to "New Practice", new_practice_path(circle_id: current_circle.id) %></li>
                  <li><%= link_to "Past Practice", circle_path(id: current_circle.id,tab: "pastpractice") %></li>
                  <li><%= link_to "Settings", circle_path(id: current_circle.id,tab: "settings") %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out",'/signout' , method: "delete" %>
                  </li>
                </ul>
              </li>
            <%else%>
              <li><%= link_to "Sign in", '/signin' %>
            <% end %>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="well">
        <div class="page-header">
          <h2>Links</h2>
        </div>
        <div class="list-group">
          <%= link_to "Lemon Smash", 'http://lemonsmashut.wix.com/lemon-smash-', class: "list-group-item"%>
          <%= link_to "Contact", 'https://www.facebook.com/daisuke.nagayama.315', class: "list-group-item"%>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "flatly" %>
    <%= yield(:page_javascript) if content_for?(:page_javascript) %>
  </body>
</html>
